html,
body {
    --font-family-google-sans: Google Sans, Roboto, sans-serif;
    --font-family-roboto: Roboto, sans-serif;

    padding: 0;
    margin: 0;
    font-family: var(--font-family-google-sans)
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


